<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      StudyApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">

    <ion-toolbar>
      <ion-title size="large">
        StudyApp
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="Logout()">
          <ion-label>Desloguearse</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-list>
      <ion-item>
        <ion-button [routerLink]="'/list-topic'">Ir a Topicos</ion-button>
        <ion-button color="light" size="small" (click)="abrirModal()">
          <ion-icon name="search-outline"></ion-icon>
          <ion-label>Buscar usuario</ion-label>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-header>

  <ion-button fill="clear" style="color: black !important;">
    <ion-label><strong>Lista de usuarios</strong></ion-label>
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let usuario of usuarios">
      <ion-label [routerLink]="'/message/'+ usuario.id">{{usuario.id}} - {{ usuario.name}} - {{usuario.last_name}}
      </ion-label>

      <ion-icon slot="end" name="create-outline" [routerLink]="'/edit-user/'+ usuario.id"></ion-icon>
      <ion-icon slot="end" name="trash-outline" (click)="eliminar(usuario.id)"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/edit-user/0">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-fab>

  <!-- <div style="position: fixed; bottom: 0; left: 0; padding-left: 5%; padding-bottom: 5%;">
    <ion-button size="small" (click)="abrirModal()">
      <ion-label>Busqueda de usuarios</ion-label>
    </ion-button>
  </div> -->

</ion-content>


<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>PRUEBA 1</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false,0)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <ion-item>
        <ion-label>Selecciona un usuario:</ion-label>
        <ion-select label="Selecciona un usuario" interface="action-sheet" [(ngModel)]="selectedUser">
          <ion-select-option *ngFor="let usuario of usuarios" [value]="usuario.id">{{ usuario.name
            }}</ion-select-option>
        </ion-select>
      </ion-item>


      <!-- Botón de Confirmación con espacio superior -->
      <ion-button expand="full" style="margin-top: 20px;" (click)="confirmar()">Confirmar</ion-button>
      <ion-card *ngIf="newUser">
        <ion-card-header>
          Usuario selecionado:
        </ion-card-header>

        <ion-card-content>
          <ion-card-title>
            {{newUser.id}} - {{newUser.name}} {{newUser.last_name}}
          </ion-card-title>
          <h2>
            {{newUser.email}}
          </h2>
        </ion-card-content>

      </ion-card>



    </ion-content>
  </ng-template>
</ion-modal>