<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      StudyApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>
       Estefany Portillo
      </ion-title>
    </ion-toolbar>
    <ion-toolbar>
      
      <ion-title size="large">
        Listar Themes
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="topicos()">
          <ion-label>Topicos</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
    <ion-list>
      <ion-item *ngFor="let theme of themes" >
        <ion-label >{{theme.id}} - {{ theme.name}}  - {{theme.description}} </ion-label>
        
        <ion-icon slot="end" name="create-outline"[routerLink]="'/edit-theme/' + topic_id + '/' + theme.id"></ion-icon>
        <ion-icon slot="end" name="trash-outline" (click)="eliminar(theme.id)"></ion-icon>
        <ion-icon  slot="end" name="chatbubble-outline" [routerLink]="'/comment-theme/' + topic_id + '/' + theme.id+ '/' + theme.name+ '/' + theme.keywords"></ion-icon>
      </ion-item>
    </ion-list> 
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="'/edit-theme/' + topic_id + '/' + 0">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    
  </ion-fab>
</ion-content>